/* ALL CSS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --image-size: 500px;
}

/*GLOBAL CSS*/
body {
  background-image: url(../assets/gta-v-lamborghini-in-motion-4k-8f.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main {
  margin-top: 110px;
}
h2 {
  text-align: center;
}

/*CLASS, ID*/
.align-middle p {
  margin-bottom: 7rem;
}
#containerVip {
  display: flex;
  justify-content: center;
  height: 80vh;
}
#containerVip img {
  width: 17vw;
}
.imgLeft {
  display: flex;
  align-self: end;
}
.imgRight {
  display: flex;
  align-self: start;
}
#contaireText {
  align-items: center;
  margin: 0;
  padding: 10rem;
  width: 45vw;
}
.align-middle p {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  color: black;
  box-shadow: 5px 5px 15px 5px orangered;
  text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
}
#sideBar {
  bottom: 3rem;
}

/*FOOTER*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 6vh;
  margin-top: 5rem;
}
.contact {
  display: flex;
  align-items: center;
}
.imgFooter {
  height: 2vh;
}
footer p {
  margin: 0 0 0 10px;
}
.age {
  height: 24px;
  display: flex;
  align-items: center;
}

/*MEDIA QUERY*/
@media screen and (max-width: 768px) {
  body {
    background-image: url(../assets/gta-v-lamborghini-in-motion-4k-8f-640x1136.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .delImgs {
    display: none;
  }
  #containerVip {
    height: 100%;
    margin-top: 15vh;
  }
  #contaireText {
    width: 80vw;
    padding: 0;
  }
  footer {
    margin-top: 5rem;
  }
}
