@font-face {
    font-family: 'Iceland';
    src: url('../assets/fonts/Iceland-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-image: url('../assets/gta_decors2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Iceland', cursive;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}



.section-timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#countdown {
    color: white;
    font-size: 120px;
    text-align: center;
}
.container-punshLine {
    margin: 5% 0 5% 0;
}
.container-punshLine p {
    width: 75%;
    margin: auto;
    font-size: 40px;
    color: white;
}

li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.class_navBar {
    display: flex;
    justify-content: center;
    width: 100%;
    }

.class_sidebar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 25px;
    width: auto;
} 

.class_discorde {
    z-index: 2;
}






nav {
    position: absolute;
    bottom: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
;

}
.class_sidebar img {
    width: 50%;
    height: auto;
    margin: 0 3.75% 0 3.75%;
}

.reseaux {
     opacity: 0 ;
}





@media screen  and (max-width: 845px) {
    #countdown {            
      font-size: 30px; 
    }
    .container-punshLine p {
        font-size: 25px;
        margin-bottom: 15%;
    }
    .reseaux {
        opacity: 1;
    }
}
