.carousel-item.active {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

body {
    background-image: url(../assets/AdobeStock_101303147_Preview.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.carousel-item{
    color: white;
}

  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --image-size: 500px;
  }
  
  .gallery {
    max-width: 200px;
    width: 100%;
    height: 30rem;
    position: relative;
    display: grid;
  }
  .slider {
    display: flex;
    position: relative;
  }
  .wrapper {
    position: relative;
    display: none;
    transition: transform 0.5s ease-out, left 0.5s ease-out;
  }
  
  .card-text img {
    max-width: 40vh;
  }
 
  .wrapper:has(+ * + * + .selected) {
    display: flex;
    position: absolute;
    top: 50%;
    left: calc(50% - var(--image-size));
    transform: translate3d(-50%, -50%, 0) scale(0);
    z-index: 0;
  }
  .wrapper:has(+ * + .selected) {
    display: flex;
    position: absolute;
    top: 50%;
    left: calc(50% - var(--image-size) / 2);
    transform: translate3d(-50%, -50%, 0) scale(0.8);
    z-index: 1;
  }
  .wrapper:has(+ .selected) {
    display: flex;
    position: absolute;
    top: 50%;
    left: calc(50% - var(--image-size) / 4);
    transform: translate3d(-50%, -50%, 0) scale(0.9);
    z-index: 2;
  }
  .selected {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 3;
  }
  .selected + .wrapper {
    display: flex;
    position: absolute;
    top: 50%;
    left: calc(50% + var(--image-size) / 4);
    transform: translate3d(-50%, -50%, 0) scale(0.9);
    z-index: 2;
  }
  .selected + * + .wrapper {
    display: flex;
    position: absolute;
    top: 50%;
    left: calc(50% + var(--image-size) / 2);
    transform: translate3d(-50%, -50%, 0) scale(0.8);
    z-index: 1;
  }
  .selected + * + * + .wrapper {
    display: flex;
    position: absolute;
    top: 50%;
    left: calc(50% + var(--image-size));
    transform: translate3d(-50%, -50%, 0) scale(0);
    z-index: 0;
  }
  .arrows {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 4;
  }
  .arrows .left,
  .arrows .right {
    position: relative;
    cursor: pointer;
  }
  .arrows .left.disabled,
  .arrows .right.disabled {
    opacity: 0.5;
  }
  .arrows .left::before,
  .arrows .right::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 3rem;
    height: 4px;
    transform: translateY(-50%);
  }
  .arrows .left:before {
    right: -100%;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    );
  }
  .arrows .right::before {
    left: -100%;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1)
    );
  }
  .arrows svg {
    width: 2.5rem;
    height: 2.5rem;
    fill: #fff;
  }
  img {
    border-radius: 6px;
  }
  #carouselWidth img {
    max-width: 80vw;
  }
  /************************************/

  .commentsLeft {
    display: flex;
    flex-direction: column;
  }
  .commentsRight {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .commentOne {
    height: 20vh;
    width: 25vw;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .commentTwo {
    height: 20vh;
    width: 25vw;
    background-color: rgba(255, 255, 255, 0.5);
    align-self: flex-end;
  }
  .commentThree {
    height: 20vh;
    width: 25vw;
    background-color: rgba(255, 255, 255, 0.5);
    align-self: flex-start;
  }
  .commentFour {
    height: 20vh;
    width: 25vw;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .text-index {
    text-align: center;
  }

  .commentsBordersLeft {
    border-radius: 24px 24px 0px 24px;
  }
  .commentsBordersRight {
    border-radius: 24px 24px 24px 0px;
  }

  .commentOne, .commentTwo, .commentThree, .commentFour {
    margin: 42px 0px;
  }
#avisLet {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}
#sideBar {
  position: sticky;
}


  /*************************************/

 @media screen and (max-width: 768px) {
  .commentOne, .commentTwo, .commentThree, .commentFour {
    align-self: center;
    margin: 15px 0px;
    width: 50vw;
    height: 10vh;
  }
 
 }