li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.class_sidebar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 25px;
} 

.class_discorde {
    z-index: 2;
}
.class-spaceDiscord {
    margin: 0 100px 0 100px;
}




.class_discorde:hover {
    width: 15vh;
    height: 15vh;
}
nav {
    position: absolute;
    bottom: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
;

}
li, img {
    width: 10vh;
    height: 10vh;
    margin: 0 25px 0 25px;
}

.reseaux {
     opacity: 0 ;
}
