/* ALL CSS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --image-size: 500px;
}

/*GLOBAL CSS*/
body {
  background-image: url(../assets/gta_decors2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main {
  height: 100vh;
}
a {
  color: white;
}
h2 {
  text-align: center;
  margin-top: 20vh;
}

/*CLASS, ID*/
#sideBar {
  bottom: 3rem;
}
.class-navBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.roles {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0;
}
.roles li {
  list-style: none;
  padding: 0 30px;
  font-size: 30px;
  border: 1px solid palevioletred;
  background-color: rgba(255, 255, 255, 0.2);
}
.firstLi {
  border-radius: 15px 0 0 15px;
}
.lastLi {
  border-radius: 0 15px 15px 0;
}
.col-2 .myImage {
  max-width: 120px;
  border-radius: 65px;
  background-color: rgba(255, 255, 255, 0.2);
}
.row {
  text-align: center;
  justify-content: center;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
}
.dropdown-item {
  color: black;
  text-align: center;
}


/*MEDIA QUERY*/
@media screen and (max-width: 768px) {
  main {
    height: 100%;
  }
  #sideBar {
    bottom: 0rem;
  }
  .roles {
    flex-direction: column;
  }
  .roles li {
    border-radius: 24px;
  }
  .firstLi {
    border-radius: 15px 15px 0 0;
  }
  .lastLi {
    border-radius: 0 0 15px 15px;
  }
  .col-2 {
    width: 41.66666667%;
  }
}
