@font-face {
    font-family: 'Iceland';
    src: url('../assets/fonts/Iceland-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.class-body {
    background-image: url('../assets/gta_decors2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Iceland', cursive;
    text-align: center;
}

.class-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 5%;
}


.container-punshLine {
    margin: 5% 0 5% 0;
}
.container-punshLine p {
    width: 75%;
    margin: auto;
    font-size: 40px;
    color: white;
}

.section-timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#countdown {
    color: white;
    font-size: 120px;
    text-align: center;
}




@media screen  and (max-width: 845px) {
    .class-main {
        height: 100vh;
        margin-top: 0;
        padding-top: 0;
    }

    #countdown {            
      font-size: 30px; 
    }
    .container-punshLine p {
        font-size: 25px;
        margin-bottom: 15%;
    }

}
