* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-image: url('../assets/gta_decors2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Iceland', cursive;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section-timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#countdown {
    color: white;
    font-size: 30vh;
    text-align: center;
}




@media (max-width: 845px) {
    #countdown {
      font-size: 10vh; 
    }
}